*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    /* background-color: black; */
    height: 100vh;
}

.back{
    width: 100%;
    height: 100vh;
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* background-color: #000; */
    pointer-events: none;
}

.workingarea{
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* background-color: #888; */
    margin: 0 auto;
    /* border: 1px solid red   ; */
    position: relative;
}

.navbar{
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nleft, .nright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* width: 30%; */
}

.nleft img{
    height: 50px;
}

.navbar a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    pointer-events: all;
}

.hero{
    margin-top: 3vw;
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 0%;
    width: 100%;
    /* height: 100px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.heroleft{
    min-width: 50%;
    /* background-color: yellow; */
    /* height: 100px; */
}

.heroright{
    width: 19%;
    /* height: 100px; */
    /* background-color: green;  */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.heroleft .elem{
    height: 9vw;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}

.heroleft .elem h1:nth-child(1){
    top: 0;
}

.heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    font-family: "Kajiro";
    font-weight: 100;
    font-size: 11vw;
    color: white;
    line-height: 0.9;
}

.heroleft button{
    padding: 0.8vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: "Kajiro";
    pointer-events: all;
    cursor: pointer;
}

.heroright p{
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.heroright .imagediv{
    width: 100%;
    height: 170px;
    background-image: url(https://images.unsplash.com/photo-1731657082971-709928e59365?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.heroright p:nth-child(3){
    margin-bottom: 50px;
}

.back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}